@model ApiViewModel
@{
    ViewBag.Title = "Datos JSON desde API";
}

<h2>@ViewBag.Title</h2>

<table border="1">
    <thead>
        <tr>
            <th>EstudianteID</th>
            <th>DocumentoIdentidad</th>
            <th>NombresCompletos</th>
            <th>Nombres</th>
            <th>ApellidoPaterno</th>
            <th>ApellidoMaterno</th>
            <th>CorreoInstitucional</th>
            <th>FotoRuta</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Apis)
        {
            <tr>
                <td>@item.EstudianteID</td>
                <td>@item.DocumentoIdentidad</td>
                <td>@item.NombresCompletos</td>
                <td>@item.Nombres</td>
                <td>@item.ApellidoPaterno</td>
                <td>@item.ApellidoMaterno</td>
                <td>@item.CorreoInstitucional</td>
                <td>@item.FotoRuta</td>
                
            </tr>
        }
    </tbody>
</table>
