<div class="color-line">
</div>
<div id="logo" class="light-version">
    <img src="~/public/images/header_logo.svg" class="img-responsive" width="165">
</div>
<nav role="navigation">
    <div class="header-link hide-menu"><i class="fa fa-bars"></i></div>
    <div class="small-logo">
        <span class="text-primary">Talento Humano</span>
    </div>
    @*<form role="search" class="navbar-form-custom col-lg-12" method="post" asp-action="Buscador" asp-controller="Servidores">
        <div class="form-group">
            <input type="text" placeholder="Buscar servidor..." class="form-control" name="criterioBusqueda">
        </div>
    </form>*@
<div class="mobile-menu">
    <button type="button" class="navbar-toggle mobile-menu-toggle" data-toggle="collapse" data-target="#mobile-collapse">
        <i class="fa fa-chevron-down"></i>
    </button>
    <div class="collapse mobile-navbar" id="mobile-collapse">
        <ul class="nav navbar-nav">
        
            <li>
                    @*<a class=""  asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Logout</a>*@
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" method="post">
                        <button type="submit" class="nav-link btn btn-link text-dark">Click here to Logout</button>
                    </form>
            </li>
             
        </ul>
    </div>


 



</div>
    <div class="navbar-right">
        <ul class="nav navbar-nav no-borders">


            @*<li class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                    <i class="pe-7s-speaker"></i>
                </a>
                <ul class="dropdown-menu hdropdown notification animated flipInX">
                    <li>
                        <a>
                            <span class="label label-success">NEW</span> It is a long established.
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="label label-warning">WAR</span> There are many variations.
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="label label-danger">ERR</span> Contrary to popular belief.
                        </a>
                    </li>
                    <li class="summary"><a href="#">See all notifications</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                    <i class="pe-7s-keypad"></i>
                </a>
                <div class="dropdown-menu hdropdown bigmenu animated flipInX">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <a href="@Url.Action("Projects", "AppViews")">
                                        <i class="pe pe-7s-portfolio text-info"></i>
                                        <h5>Projects</h5>
                                    </a>
                                </td>
                                <td>
                                    <a href="@Url.Action("Mailbox", "AppViews")">
                                        <i class="pe pe-7s-mail text-warning"></i>
                                        <h5>Email</h5>
                                    </a>
                                </td>
                                <td>
                                    <a href="@Url.Action("Contacts", "AppViews")">
                                        <i class="pe pe-7s-users text-success"></i>
                                        <h5>Contacts</h5>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="@Url.Action("Forum", "AppViews")">
                                        <i class="pe pe-7s-comment text-info"></i>
                                        <h5>Forum</h5>
                                    </a>
                                </td>
                                <td>
                                    <a href="@Url.Action("Index", "Analytics")">
                                        <i class="pe pe-7s-graph1 text-danger"></i>
                                        <h5>Analytics</h5>
                                    </a>
                                </td>
                                <td>
                                    <a href="@Url.Action("FileManager", "AppViews")">
                                        <i class="pe pe-7s-box1 text-success"></i>
                                        <h5>Files</h5>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>*@



            
            <li class="dropdown">
                <a class="nav-link text-dark" href="javascript:void(0);" onclick="logout()">
                    <i class="pe-7s-upload pe-rotate-90"></i>
                </a>

            </li>
        </ul>
    </div>
</nav>


<!-- Script JavaScript para manejar el cierre de sesión -->
<script>
    function logout() {
        // Realizar la petición de cierre de sesión con el formulario oculto
        var form = document.getElementById("logoutForm");
        form.submit();
    }
</script>

<form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" method="post" style="display: none;">
    @Html.AntiForgeryToken()
</form>



