@using Unach.DA.Empleo.Presentacion.CentralAdmin.Helpers;
@{
    var foto = Context.Session.GetString("Foto");
    var nombresApellidos = Context.Session.GetString("NombresApellidos");
    var nombres = Context.Session.GetString("Nombres");
}

<div id="navigation">
    <div class="profile-picture">
        @if (User.Identity.IsAuthenticated)
        {
            <a href="@Url.Action("Index", "Home")">
                <img src="@Url.Action("ShowImage", "Servidores", new { foto = foto })" class="img-circle m-b" @*alt="@nombresApellidos"*@ style="height:76px;width:76px;" />
            </a>

            <div class="stats-label text-color">
                <span class="font-extra-bold">
                    @nombres
                </span>

                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                        <small class="text-muted">Usuario<b class="caret"></b></small>
                    </a>
                    <ul class="dropdown-menu animated flipInX m-t-xs">
                        @*<li><a href="contacts.html">Contacts</a></li>*@
                        @*<li><a asp-action="CurriculumVitae" asp-controller="Servidores" asp-route-wtf="@User.Claims.Where(x => x.Type == "IdServidor")?.FirstOrDefault()?.Value">Perfil</a></li>*@


                        <li class="divider"></li>
                        <li>
                            @*<a class="form-inline"  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Logout">Cerrar Sesión</a>*@
                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" method="post">
                                <button type="submit" class="nav-link btn btn-link text-dark">Cerrar Sesion</button>
                            </form>
                           

                        </li>
                    </ul>
                </div>
            </div>
        }
        else
        {

            <a href="@Url.Action("Index", "Home")">

                <img src="https://i.pinimg.com/originals/2a/2e/8d/2a2e8d24f1f1ec6d8b0d1d3a8b0fc2e5.jpg"
                     class="img-circle m-b"
                     alt="Usuario sin autenticar"
                     style="height:76px;width:76px;" />
            </a>
            <div class="stats-label text-color">
                <span class="font-extra-bold">
                    <text>Sin Autenticar</text>
                </span>
                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                        <small class="text-muted">Sin Roles<b class="caret"></b></small>
                    </a>
                    <ul class="dropdown-menu animated flipInX m-t-xs">
                        <li>
                            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Iniciar Sesión</a>
                        </li>
                    </ul>
                </div>
            </div>
        }
    </div>

    <ul class="nav metismenu" id="side-menu">
        @await Component.InvokeAsync("Menu")
    </ul>


</div>
